<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="CampusTD">
    <meta name="description"
        content="Bolsa de Trabajo dedicada a egresados de la Universidad Autonoma de Tamaulipas con el objetivo de posicionarse en una empresa.">
    <meta name="keywords" content="Bolsa de Trabajo, UAT, Universidad Autonoma de Tamaulipas, Egresados, Empleo, Trabajo, Posicionarse, Empresa, empleo, trabajo, 
    tamaulipas, tampico, madero, altamira, mexico, ciudad de mexico, universitario, universidad, trabajar">
    <title>Bolsa de Empleo - Form</title>
    {{> HeaderStyles}}
    <link rel="stylesheet" href="css/main.css">
</head>

<body class="w-full h-full">

    {{> HeaderNew}}

    <nav class="md:fixed m-4">
        <div class="container w-full px-6 py-4 mx-auto md:flex md:justify-center md:items-center bg-green-500">
            <div class="flex w-full items-center justify-center">
                <div class="w-full justify-center flex">
                    s
                </div>
                <div class="w-full justify-center flex">
                    s
                </div>
                <div class="w-full justify-center flex">
                    s
                </div>
            </div>
        </div>
    </nav>
    
    <aside class="md:fixed m-4">
        <div class="container w-full px-6 py-4 mx-auto md:flex md:justify-center md:items-center border-2">
            <div class="flex w-full items-center justify-center">
                <div class="w-full justify-center flex">
                    <div class="w-full">
                        <div>
                            <h1 class="text-center">
                                Tipos de trabajo
                            </h1>
                            <img src="" alt="" srcset="">
                        </div>

                        <div class="w-full justify-between flex place-items-center my-4">
                            <div class="flex justify-start">
                                <label class="checkbox">
                                    <input type="checkbox" id="fTJCheck" class="checkbox__input hidden"/>
                                    <span class="checkbox__inner"></span>
                                </label>
                                <label for="fTJCheck" class="ml-2">Trabajos de tiempo completo</label>
                            </div>
                            <div class="flex justify-end">
                                <span class="bg-[#E1EBFB] p-2">58</span>
                            </div>
                        </div>
                        
                        <div class="w-full justify-between flex place-items-center my-4">
                            <div class="flex justify-start">
                                <label class="checkbox">
                                    <input type="checkbox" id="pTJCheck" class="checkbox__input hidden"/>
                                    <span class="checkbox__inner"></span>
                                </label>
                                <label for="pTJCheck" class="ml-2">Trabajos de medio tiempo</label>
                            </div>
                            <div class="flex justify-end">
                                <span class="bg-[#E1EBFB] p-2">58</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

    {{!-- {{> Footer}} --}}
    {{> VendorScripts}}
</body>

</html>