<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="CampusTD">
    <meta name="description"
        content="Bolsa de Trabajo dedicada a egresados de la Universidad Autonoma de Tamaulipas con el objetivo de posicionarse en una empresa.">
    <meta name="keywords" content="Bolsa de Trabajo, UAT, Universidad Autonoma de Tamaulipas, Egresados, Empleo, Trabajo, Posicionarse, Empresa, empleo, trabajo, 
    tamaulipas, tampico, madero, altamira, mexico, ciudad de mexico, universitario, universidad, trabajar">
    <title>Bolsa de Empleo - Home Admin</title>
    {{> HeaderStyles}}
    <link rel="stylesheet" href="css/main.css">
</head>

<body class="w-full h-full">

    {{> Header}}

    <div class="w-full pt-[100px] h-full px-4">
        <div class="flex flex-row justify-between pb-4">
            <h2 class="text-lg font-semibold">
                Mostrando 134 trabajos
            </h2>
        </div>
        <div class="flex flex-wrap gap-6 justify-center">
            <div class="bg-slate-100 w-72 h-80 flex flex-col relative rounded-md mb-2 shadow-md">
                <div class="flex flex-row justify-between relative">
                    <div>
                        <img src="/images/250x250.png" class="h-[20%] m-2 rounded-lg" alt="">
                    </div>
                </div>
                <div class="w-full h-full absolute top-14 left-0 pt-2 px-2">
                    <p class="font-medium">
                        Diseñador de UI / UX
                    </p>
                    <p class="text-xs leading-relaxed">
                        El trabajo de Diseñador de Experiencia de Usuario se desempeña para diseñar y crear...
                    </p>
                </div>
                <div class="flex flex-row flex-wrap justify-center absolute top-[135px] left-0 px-2 w-full gap-2">
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        Grupo FEMSA
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        Soto la Marina
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        Baja California Sur
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        grupoFEMSA@reclutamiento.com.mx
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        833-123-4567
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        No remoto
                    </p>
                </div>
                <div class="absolute top-[270px] left-0 flex justify-center w-full gap-2">
                    <button id="btnEditar" type="button" class="text-xs py-2 px-4 bg-amber-500 text-white hover:bg-amber-600 transition-colors duration-200 rounded-md box-border w-[40%] flex justify-center items-center">
                        Editar
                        <span class="ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                            </svg>
                        </span>
                    </button>
                    <button id="btnEliminar" type="button" class="text-xs py-2 px-4 bg-red-500 text-white hover:bg-red-600 transition-colors duration-200 rounded-md box-border w-[40%] flex justify-center items-center">
                        Eliminar
                        <span class="ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z" clip-rule="evenodd" />
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
            <div class="bg-slate-100 w-72 h-80 flex flex-col relative rounded-md mb-2 shadow-md">
                <div class="flex flex-row justify-between relative">
                    <div>
                        <img src="/images/250x250.png" class="h-[20%] m-2 rounded-lg" alt="">
                    </div>
                </div>
                <div class="w-full h-full absolute top-14 left-0 pt-2 px-2">
                    <p class="font-medium">
                        Diseñador de UI / UX
                    </p>
                    <p class="text-xs leading-relaxed">
                        El trabajo de Diseñador de Experiencia de Usuario se desempeña para diseñar y crear...
                    </p>
                </div>
                <div class="flex flex-row flex-wrap justify-center absolute top-[135px] left-0 px-2 w-full gap-2">
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        Grupo FEMSA
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        Soto la Marina
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        Baja California Sur
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        grupoFEMSA@reclutamiento.com.mx
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        833-123-4567
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        No remoto
                    </p>
                </div>
                <div class="absolute top-[270px] left-0 flex justify-center w-full gap-2">
                    <button id="btnEditar" type="button" class="text-xs py-2 px-4 bg-amber-500 text-white hover:bg-amber-600 transition-colors duration-200 rounded-md box-border w-[40%] flex justify-center items-center">
                        Editar
                        <span class="ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                            </svg>
                        </span>
                    </button>
                    <button id="btnEliminar" type="button" class="text-xs py-2 px-4 bg-red-500 text-white hover:bg-red-600 transition-colors duration-200 rounded-md box-border w-[40%] flex justify-center items-center">
                        Eliminar
                        <span class="ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z" clip-rule="evenodd" />
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
            <div class="bg-slate-100 w-72 h-80 flex flex-col relative rounded-md mb-2 shadow-md">
                <div class="flex flex-row justify-between relative">
                    <div>
                        <img src="/images/250x250.png" class="h-[20%] m-2 rounded-lg" alt="">
                    </div>
                </div>
                <div class="w-full h-full absolute top-14 left-0 pt-2 px-2">
                    <p class="font-medium">
                        Diseñador de UI / UX
                    </p>
                    <p class="text-xs leading-relaxed">
                        El trabajo de Diseñador de Experiencia de Usuario se desempeña para diseñar y crear...
                    </p>
                </div>
                <div class="flex flex-row flex-wrap justify-center absolute top-[135px] left-0 px-2 w-full gap-2">
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        Grupo FEMSA
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        Soto la Marina
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        Baja California Sur
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        grupoFEMSA@reclutamiento.com.mx
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        833-123-4567
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        No remoto
                    </p>
                </div>
                <div class="absolute top-[270px] left-0 flex justify-center w-full gap-2">
                    <button id="btnEditar" type="button" class="text-xs py-2 px-4 bg-amber-500 text-white hover:bg-amber-600 transition-colors duration-200 rounded-md box-border w-[40%] flex justify-center items-center">
                        Editar
                        <span class="ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                            </svg>
                        </span>
                    </button>
                    <button id="btnEliminar" type="button" class="text-xs py-2 px-4 bg-red-500 text-white hover:bg-red-600 transition-colors duration-200 rounded-md box-border w-[40%] flex justify-center items-center">
                        Eliminar
                        <span class="ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z" clip-rule="evenodd" />
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
            <div class="bg-slate-100 w-72 h-80 flex flex-col relative rounded-md mb-2 shadow-md">
                <div class="flex flex-row justify-between relative">
                    <div>
                        <img src="/images/250x250.png" class="h-[20%] m-2 rounded-lg" alt="">
                    </div>
                </div>
                <div class="w-full h-full absolute top-14 left-0 pt-2 px-2">
                    <p class="font-medium">
                        Diseñador de UI / UX
                    </p>
                    <p class="text-xs leading-relaxed">
                        El trabajo de Diseñador de Experiencia de Usuario se desempeña para diseñar y crear...
                    </p>
                </div>
                <div class="flex flex-row flex-wrap justify-center absolute top-[135px] left-0 px-2 w-full gap-2">
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        Grupo FEMSA
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        Soto la Marina
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        Baja California Sur
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        grupoFEMSA@reclutamiento.com.mx
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        833-123-4567
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        No remoto
                    </p>
                </div>
                <div class="absolute top-[270px] left-0 flex justify-center w-full gap-2">
                    <button id="btnEditar" type="button" class="text-xs py-2 px-4 bg-amber-500 text-white hover:bg-amber-600 transition-colors duration-200 rounded-md box-border w-[40%] flex justify-center items-center">
                        Editar
                        <span class="ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                            </svg>
                        </span>
                    </button>
                    <button id="btnEliminar" type="button" class="text-xs py-2 px-4 bg-red-500 text-white hover:bg-red-600 transition-colors duration-200 rounded-md box-border w-[40%] flex justify-center items-center">
                        Eliminar
                        <span class="ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z" clip-rule="evenodd" />
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
            <div class="bg-slate-100 w-72 h-80 flex flex-col relative rounded-md mb-2 shadow-md">
                <div class="flex flex-row justify-between relative">
                    <div>
                        <img src="/images/250x250.png" class="h-[20%] m-2 rounded-lg" alt="">
                    </div>
                </div>
                <div class="w-full h-full absolute top-14 left-0 pt-2 px-2">
                    <p class="font-medium">
                        Diseñador de UI / UX
                    </p>
                    <p class="text-xs leading-relaxed">
                        El trabajo de Diseñador de Experiencia de Usuario se desempeña para diseñar y crear...
                    </p>
                </div>
                <div class="flex flex-row flex-wrap justify-center absolute top-[135px] left-0 px-2 w-full gap-2">
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        Grupo FEMSA
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        Soto la Marina
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        Baja California Sur
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        grupoFEMSA@reclutamiento.com.mx
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        833-123-4567
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        No remoto
                    </p>
                </div>
                <div class="absolute top-[270px] left-0 flex justify-center w-full gap-2">
                    <button id="btnEditar" type="button" class="text-xs py-2 px-4 bg-amber-500 text-white hover:bg-amber-600 transition-colors duration-200 rounded-md box-border w-[40%] flex justify-center items-center">
                        Editar
                        <span class="ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                            </svg>
                        </span>
                    </button>
                    <button id="btnEliminar" type="button" class="text-xs py-2 px-4 bg-red-500 text-white hover:bg-red-600 transition-colors duration-200 rounded-md box-border w-[40%] flex justify-center items-center">
                        Eliminar
                        <span class="ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z" clip-rule="evenodd" />
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
            <div class="bg-slate-100 w-72 h-80 flex flex-col relative rounded-md mb-2 shadow-md">
                <div class="flex flex-row justify-between relative">
                    <div>
                        <img src="/images/250x250.png" class="h-[20%] m-2 rounded-lg" alt="">
                    </div>
                </div>
                <div class="w-full h-full absolute top-14 left-0 pt-2 px-2">
                    <p class="font-medium">
                        Diseñador de UI / UX
                    </p>
                    <p class="text-xs leading-relaxed">
                        El trabajo de Diseñador de Experiencia de Usuario se desempeña para diseñar y crear...
                    </p>
                </div>
                <div class="flex flex-row flex-wrap justify-center absolute top-[135px] left-0 px-2 w-full gap-2">
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        Grupo FEMSA
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        Soto la Marina
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        Baja California Sur
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        grupoFEMSA@reclutamiento.com.mx
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        833-123-4567
                    </p>
                    <p class="py-1 px-2 bg-gray-300 text-gray-600 text-xs rounded-md">
                        No remoto
                    </p>
                </div>
                <div class="absolute top-[270px] left-0 flex justify-center w-full gap-2">
                    <button id="btnEditar" type="button" class="text-xs py-2 px-4 bg-amber-500 text-white hover:bg-amber-600 transition-colors duration-200 rounded-md box-border w-[40%] flex justify-center items-center">
                        Editar
                        <span class="ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                                <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
                            </svg>
                        </span>
                    </button>
                    <button id="btnEliminar" type="button" class="text-xs py-2 px-4 bg-red-500 text-white hover:bg-red-600 transition-colors duration-200 rounded-md box-border w-[40%] flex justify-center items-center">
                        Eliminar
                        <span class="ml-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z" clip-rule="evenodd" />
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    {{> VendorScripts}}
</body>

</html>